<%- include('./include/_header') %>

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">
                        New User
                        <i class="fa fa-user"></i>
                    </span>
                </a>
            </div>

            <form action="/" method="post">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user, index)=> { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.gender %>
                                </td>
                                <td>
                                    <%= user.status %>
                                </td>
                                <td>
                                    <a href='/edit-user/<%= user._id %>' class="btn border-shadow update">
                                        <span class="text-gradient">
                                            <i class="fa fa-pencil"></i>
                                        </span>
                                    </a>
                                    <a data-id="<%= user._id %>" class="btn border-shadow delete">
                                        <span data-id="<%= user._id %>" class="text-gradient">
                                            <i data-id="<%= user._id %>" class="fa fa-trash"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <%- include('./include/_footer') %>
        </body>

        </html>